.ag-row-pinned .hover-cell-delete:hover {
  background-color: inherit !important;
}

.hover-cell-delete:hover {
  background-color: #ff9980 !important;
}

.ag-cell.min-x-pad {
  padding-left: 5px;
  padding-right: 0px;
}

.ag-row-pinned.ag-row-hover {
  background-color: inherit !important;
}